<section class=" text-center bg-first-task">
  <h1>ABOUT COMPONENT</h1>
  <div class="horizontal-lines my-2">
    <div class="line"></div>
    <div class="star-icon">★</div>
    <div class="line"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis veniam vero amet.
        Dolore cumque numquam ipsum porro, corporis at sed!</div>
      <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis veniam vero amet.
        Dolore cumque numquam ipsum porro, corporis at sed!</div>
    </div>
  </div>
</section>